<!-- Left Side Navbar -->
<img id="profile-photo" src="profilephoto.png" alt="Profile Photo" width="250px">
<img id="logo" src="goodneighbour.png" alt="Good Neighbour Logo" width="250px">
<h5 id="menu-one">Your Account</h5>
<h5 id="menu-two"><a href='/nearby'>Nearby Projects</a></h5>
<h5 id="menu-three">Your Donations</h5>
<h5 id="logout">Log Out >></h5>

</br>
<div class="contact">
    <span>
        <p class='contact-title'>Have a question or comment?</p>
        <p class='contact-title'>Connect with us!</p>
    </span>
    </br>
    <p>E-mail</p>
    <p>circletoronto@gmail.com</p>
    </br>
    <p>Address</p>
    <p>2234 King St. W</p>
    <p>Toronto, ON</p>
    </br>
    <p>Phone</p>
    <p>(416) 123-1234</p>
</div>