<!-- Top Navbar -->
<img id="organization-logo" src="fredvictor.png" alt="Circle TO Logo" width="225px">
<% if (active === "overview") { %>
    <a class="active" id="overview-link" href='/'>Overview</a>
<% } else { %>
    <h4 id="overview-link"><a href='/'>Overview</a></h4>
<% } %>

<% if (active === "reports") { %>
    <a class="active" id="report-link" href='/reports'>Fiscal Report</a>
<% } else { %>
    <h4 id="report-link"><a href='/reports'>Fiscal Report</a></h4>
<% } %>

<% if (active === "updates") { %>
    <a class="active" id="update-link" href='/updates'>Updates</a>
<% } else { %>
    <h4 id="update-link"><a href='/updates'>Updates</a></h4>
<% } %>

<h4 id="donate-link">DONATE</h4>
<img id="interac-logo" src="interaclogo.png" alt="Interac Logo" width="80px">