<%- include('./partials/header'); -%>

<%- include('./partials/leftSideNavbar'); -%>

<%- include('./partials/topNavbar'); -%>


<!-- Card Details -->
<div class="card" style="width: 65em;">
<div class="card-body">
<!-- Section 1 - Overview -->
    <h2 class="card-title">Circle TO</h2>
    <h4 class="card-subtitle mb-2 text-muted">Transparency Report</h4>
    <p class="card-text">Sesame snaps candy brownie candy canes toffee jujubes jelly-o. Jelly jujubes candy canes. Fruitcake icing topping
    cupcake tart jelly beans apple pie biscuit icing. Sesame snaps candy brownie candy canes toffee jujubes jelly-o. Jelly
    jujubes candy canes. Fruitcake icing topping cupcake tart jelly beans apple pie biscuit icing.</p>

</br>
<hr>
</br>

<!-- Section 2 - Review and Expense Pie Charts -->
<div class="container">
<h3>Overview - Revenue and Expenses</h3>
</br>
<div id="canvas-holder graph-one" style="width:50%;float:left">
    <canvas id="chart-area-1"></canvas>
</div>

<div id="canvas-holder graph-two" style="width:50%;float:right;">
    <canvas id="chart-area-2"></canvas>
</div>
</div>

</br>
<hr>
</br>

<!-- Section 3 - Transaction History -->
<h3 id="transaction-title">Transaction History</h3>
<button type="button" class="btn btn-outline-primary">Display Revenue</button>
<button type="button" class="btn btn-outline-primary">Display Expenses</button>

<table style="width:100%">
    <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Project</th>
        <th>Amount</th>
        <th>Verified ID</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>01-01-2019</td>
        <td>Office Supplies</td>
        <td>Admin</td>
        <td>Holiday Marketing</td>
        <td>$40.00</td>
        <td>1343afdhf5488thgeir3934nfr4993939</td>
    </tr>
    <tr>
        <td>01-01-2019</td>
        <td>Office Supplies</td>
        <td>Admin</td>
        <td>Holiday Marketing</td>
        <td>$40.00</td>
        <td>1343afdhf5488thgeir3934nfr4993939</td>
    </tr>
    <tr>
        <td>01-01-2019</td>
        <td>Office Supplies</td>
        <td>Admin</td>
        <td>Holiday Marketing</td>
        <td>$40.00</td>
        <td>1343afdhf5488thgeir3934nfr4993939</td>
    </tr>
    <tr>
        <td>01-01-2019</td>
        <td>Office Supplies</td>
        <td>Admin</td>
        <td>Holiday Marketing</td>
        <td>$40.00</td>
        <td>1343afdhf5488thgeir3934nfr4993939</td>
    </tr>
    <tr>
        <td>01-01-2019</td>
        <td>Office Supplies</td>
        <td>Admin</td>
        <td>Holiday Marketing</td>
        <td>$40.00</td>
        <td>1343afdhf5488thgeir3934nfr4993939</td>
    </tr>
    <tr>
        <td>01-01-2019</td>
        <td>Office Supplies</td>
        <td>Admin</td>
        <td>Holiday Marketing</td>
        <td>$40.00</td>
        <td>1343afdhf5488thgeir3934nfr4993939</td>
    </tr>
    <tr>
        <td>01-01-2019</td>
        <td>Office Supplies</td>
        <td>Admin</td>
        <td>Holiday Marketing</td>
        <td>$40.00</td>
        <td>1343afdhf5488thgeir3934nfr4993939</td>
    </tr>
    </tbody>       
</table>

</br>
<hr>
</br>


</div>
</div>

<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };
    var config1 = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    8,
                    15,
                    35,
                    20,
                    20,
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.purple,
                    window.chartColors.green,
                    window.chartColors.blue,
                    window.chartColors.orange,
                ]
            }],
            labels: [
                'Programming Fees',
                'Government Grants',
                'Corporate Contributions',
                'Donations from Public',
                'Sponsorships'
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Revenue'
            },
            legend: {
                display: false
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        return data['labels'][tooltipItem['index']] + ': ' + data['datasets'][0]['data'][tooltipItem['index']] + '%';
                    }
                }
            }
        }
    };

    var config2 = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    8,
                    15,
                    35,
                    20,
                    20,
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.purple,
                    window.chartColors.green,
                    window.chartColors.blue,
                    window.chartColors.orange,
                ]
            }],
            labels: [
                'Rent',
                'Supplies',
                'Professional Fees',
                'Advertising',
                'Wages'
            ]
        },
        options: {
            legend: {
                display: false
            },
            title: {
                display: true,
                text: 'Expenses'
            }
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area-1').getContext('2d');
        window.myDoughnut = new Chart(ctx, config1);
        var ctx = document.getElementById('chart-area-2').getContext('2d');
        window.myDoughnut = new Chart(ctx, config2);
    };

</script>


   
</body>
</html>