<%- include('./partials/header'); -%>

<%- include('./partials/leftSideNavbar'); -%>

    
<div id="map" style="width: 700px; height: 500px;"></div>

    <script type="text/javascript">
        function getLocation() {
            return new Promise((resolve, reject) => {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition((position)=>{
                        resolve({lat:position.coords.latitude,long: position.coords.longitude})
                    });
                } else {
                    reject("Geolocation is not supported by this browser.");
                }
            });
        }
    
        //get these from the API
        //urls can be links to the charity using https://... or routes without it.
        var locations = [
        ['Fred Victor', 43.653626, -79.372972, 1, '/'],
        ['Support The Kids', 43.643943, -79.402247, 2, 'https://www.bing.com/search?q=support+the+kids'],
        ['Rexdale Community Garden', 43.716331, -79.559510, 3, 'https://www.bing.com/search?q=Rexdale+Community+Garden'],
        ];

        getLocation().then(coords=>{
        
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(coords.lat, coords.long),
        mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map,
            url: locations[i][4]
        });

        google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
            return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
            }
        })(marker, i));


        google.maps.event.addListener(marker, 'click', function() {
            window.location.href = this.url;
        });

        marker.addListener('mouseout', function() {
            infowindow.close();
        });
        }


        }).catch(err=>{
        console.log(err)
        })

    
    </script>
    </body>
</html>
