<%- include('./partials/header'); -%>

<%- include('./partials/leftSideNavbar'); -%>

<%- include('./partials/topNavbar'); -%>


<!-- Card Details -->
<div class="card" style="width: 65em;">
    <div class="card-body">
        <!-- Section 1 - Overview -->
        <h2 class="card-title">Circle TO</h2>
        <h4 class="card-subtitle mb-2 text-muted">Transparency Report</h4>
        <p class="card-text">Sesame snaps candy brownie candy canes toffee jujubes jelly-o. Jelly jujubes candy canes.
            Fruitcake icing topping
            cupcake tart jelly beans apple pie biscuit icing. Sesame snaps candy brownie candy canes toffee jujubes
            jelly-o. Jelly
            jujubes candy canes. Fruitcake icing topping cupcake tart jelly beans apple pie biscuit icing.</p>

        </br>
        <hr>
        </br>