<%- include('./partials/header'); -%>

<%- include('./partials/leftSideNavbar'); -%>

<%- include('./partials/topNavbar'); -%>

        <!-- Card Details -->
        <div class="card" style="width: 65em;">
            <div class="card-body">
                <h1>Updates</h1>

                <div class="inner-card">
                    <div class="inner-card-header">
                        <img class="logo-icon" src="fredvictor-icon.png" width="100px"/>
                        <h4 id="name">Fred Victor</h4>
                        <h4 id="date">Sept 30</h4>

                        <hr/>

                        <h4>September Update - We've made 20 meals!</h4>
                        <p>Hi neighbours! Yesterday we had our first meal prep
                            session. With the help of your donation and
                            community support, we’ve made 100 meals to
                            distribute to the underhoused!</p>

                        <img class="content-image" src="meal-prep.jpeg" width="765"/>
                        
                        <p>Next up, we’ll be distributing the meals in front of the Moss Park Community Centre. 
                        <p>Thank you all for your support!</p>
                        <p>-Fred Victor team </p>
                    </div>
                </div>

                <div class="inner-card">
                    <img class="logo-icon" src="fredvictor-icon.png" width="100px" />
                    <h4 id="name-two">Fred Victor</h4>
                    <h4 id="date-two">Sept 30</h4>

                    <hr/>

                    <h4>August Update - An Incredible 24 hours!</h4>
                    <p>Hi Neighbours! It’s been an incredible 24 hours since we started this campaign. We’ve already raised $1,000! Thank you all for supporting this project. We’re excited to start meal prepping and distributing food to the underhoused in our Moss Park community!
                    <p>Thank you!</p>
                    <p>-Fred Victor team</p>
                </div>
            </div>
        </div>
    </body>
</html>