/* For all  */
body {
	font-family: Roboto;
	background: #e5e5e5;
}

hr {
	border: 1px solid #000000;
}

/* Left Side Navbar */
#line {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 49.66%;
	bottom: 50%;
	border: 1px solid #000000;
}

#logo {
	position: absolute;
	width: 15%;
	left: 2.5%;
	top: 8%;
	bottom: 0%;
}

#profile-photo {
	position: absolute;
	left: 2.5%;
	right: 6.26%;
	top: 25%;
	bottom: 54.54%;
	border-radius: 50%;
	width: 15%;
}

#menu-one {
	position: absolute;
	left: 2.5%;
	right: 6.26%;
	top: 60%;
	bottom: 54.54%;
	font-weight: bold;
}

#menu-two {
	position: absolute;
	left: 2.5%;
	right: 6.26%;
	top: 67%;
	bottom: 54.54%;
	font-weight: bold;
}

#menu-three {
	position: absolute;
	left: 2.5%;
	right: 6.26%;
	top: 74%;
	bottom: 54.54%;
	font-weight: bold;
}

#logout {
	position: absolute;
	left: 2.5%;
	right: 6.26%;
	top: 85%;
	bottom: 54.54%;
	font-weight: bold;
	color: #2096f3;
}

.contact {
	position: absolute;
	left: 2.5%;
	right: 6.26%;
	top: 100%;
	bottom: 40%;
	font-family: Roboto;
	font-style: normal;
	font-size: 16px;
	line-height: 17px;
}

.contact-title {
	font-weight: bold;
}
/* Top Navbar */
#organization-logo {
	position: absolute;
	left: 20.39%;
	right: 48.72%;
	top: 11%;
}

#overview-link {
	position: absolute;
	left: 40%;
	right: 48.72%;
	top: 13%;
}

#report-link {
	position: absolute;
	left: 50%;
	top: 13%;
}

#update-link {
	position: absolute;
	left: 63.5%;
	right: 48.72%;
	top: 13%;
}

#donate-link {
	position: absolute;
	left: 80%;
	right: 48.72%;
	top: 13%;
	letter-spacing: 0.185em;
	color: #1bb14c;
}

#interac-logo {
	position: absolute;
	left: 92%;
	right: 48.72%;
	top: 9%;
}

/* Card Template */
.card {
	position: absolute;
	height: 1470px;
	left: 260px;
	top: 25%;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Overview Page */
#overview-page {
	position: absolute;
	left: 260px;
	top: 25%;
}

/* Fiscal Report Page */
.container {
	margin-bottom: 250px;
	padding-bottom: 0px;
}

/* Updates Page */
#overview-page {
	position: absolute;
	left: 260px;
	top: 25%;
}

#name {
	position: absolute;
	left: 13%;
	right: 49.71%;
	top: 6%;
	bottom: 93.38%;
	color: #6faf06;
	font-weight: 900;
}

#date {
	position: absolute;
	left: 13%;
	right: 49.71%;
	top: 8.5%;
	bottom: 90.65%;
	color: #626262;
}

#name-two {
	position: absolute;
	left: 13%;
	right: 49.71%;
	top: 64%;
	bottom: 93.38%;
	color: #6faf06;
	font-weight: 900;
}

#date-two {
	position: absolute;
	left: 13%;
	right: 49.71%;
	top: 66.5%;
	bottom: 90.65%;
	color: #626262;
}

button {
	margin-bottom: 20px;
	padding-bottom: 0px;
}

/* Nearby Page */
#map {
	left: 30%;
	top: 42px;
}

/* Flag Comments*/
.flag-body {
	background: rgba(0, 0, 0, 0.73);
}

.flag-comments {
	position: absolute;
	left: 453px;
	top: 200px;
}

.flag-comments-long {
	position: absolute;
	left: 453px;
	top: 110px;
}

.flag-comments-longest {
	position: absolute;
	left: 453px;
	top: 50px;
}
